[submodule "src/vendor/swiftmailer"]
	path = src/vendor/swiftmailer
	url = https://github.com/swiftmailer/swiftmailer.git
[submodule "src/vendor/sfYaml"]
	path = src/vendor/sfYaml
	url = https://github.com/fabpot/yaml.git
