[submodule "src/OpenFlame/Framework"]
	path = src/OpenFlame/Framework
	url = https://github.com/damianb/OpenFlame-Framework.git
[submodule "src/OpenFlame/Dbal"]
	path = src/OpenFlame/Dbal
	url = git://github.com/OpenFlame/OpenFlame-Dbal.git
[submodule "src/emberlabs/materia"]
	path = src/emberlabs/materia
	url = git://github.com/emberlabs/materia.git
