build/cert/*.pem
build/yukari.phar*
build/tmp/*
build/verified/*
nbproject/*
.komodotools/*
data/config/*
!data/config/*.example
!data/config/addons/*.example
data/database/*.sqlite
data/database/*.sqlite.db
downloads/*
extra-addons
extra-addons/*
yukari.komodoproject
.settings.xml
