{
	"db.type":"sqlite",
	"db.file":"data/database/yukari.sqlite.db",
	"ui.enable_colors":true,
	"ui.output_level":"raw",
	"yukari.tickrate":100,
	"yukari.locale":"en-us",
	"yukari.addons":
	[
		"irc",
		"automation",
		"whitelist",
		"commander",
		"channeltracker",
		"botadmin",
		"database",
		"logger"
	],
	"irc.networks":
	{
		"freenode":
		{
			"ssl":false,
			"url":"irc.freenode.net",
			"port":6667,
			"nickname":"Yukari-chan",
			"username":"yukari",
			"realname":"Obsidian"
		}
	},
}
